.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbarSupportedContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 38px;
}

.gap-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.form-control {
  display: flex;
  width: 550px;
  height: 29px;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  list-style: none;
}

.nav-link {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

table {
  width: 567px;
  border-collapse: collapse;
  margin-top: 19px;
}

tbody {
  border: 2px solid;
}

td {
  text-align: center;
  border-left: 2px solid;
}

th {
  border-left: 2px solid;
  background-color: #ababab;
}

tr {
  border: 2px solid;
}

.col-md-8 {
  margin-left: 75%;
  border: 2px solid;
  text-align: center;
  width: 154px;
}

.col-md-4 {
  width: 114px;
  margin-top: -23px;
  border: 2px solid;
  text-align: center;
}

.food-nav {
  display: none;
}

.alert {
  display: flex;
  justify-content: center;
}

.btn {
  border: none;
  text-decoration: underline;
}

.btn-primary {
  border: 2px solid;
  padding: 5px;
  text-decoration: none;
}

.me-3 {
  display: none;
}

#Ingredient {
  text-decoration: none;
  border: none;
  color: black;
}

#shopping-list {
  text-decoration: none;
  border: none;
  color: black;
}

.fs-5 {
  margin-left: 442px;
  border: 3px solid;
  padding: 6px;
  font-size: 18px;
  text-align: center;
}
